@import "layout.css";

.login_div {
    position: sticky;
    width: 1150px;
    height: 400px;
    left: 20%;
    margin: 200px 0 0 -50px;
}

.login_div h2 {
    text-align: center;
}

.login_div ul {
    list-style-type: none;
    text-align: center;
}